body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    margin: 0;
    background-color: #f0f0f0;
    flex-direction: column; 
}

header {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    background:  rgb(72, 72, 72);
    width: 100%; 
    height: 10%;
    position: absolute; /* Hace que el header vaya en la parte de arriba */
    top: 0; 
}

.login-container {
    position: absolute;
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
    text-align: center;
    bottom: -15rem;
}

@media (max-width: 868px) {
    .login-container {
        position: relative; 
        margin-top: 8rem;  
        bottom: auto;       
        padding: 1.5rem;    
        bottom: -10rem;
    }
}



.login-container h2 {
    margin-bottom: 1.5rem;
}

.login-container label {
    display: block;
    margin-top: 1rem;
}

.login-container input {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: -0.5rem;
    border: 2px solid #ccc;
    border-radius: 20px;
}

.login-container button {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 106, 0);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.login-container button:hover {
    background-color: rgb(184, 77, 0);
}

.login-container a {
    color: #007BFF;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.required {
    padding-left: 0rem;
    text-align: left;
    font-size: 0.88rem;
}

.reject {
    color: rgba(75, 75, 75, 0.75);
}

.accept {
    color: rgb(75, 75, 75);

}

.accept::after {
    content: " ✅";
}