* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 2rem;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    appearance: none;
    color: white;
    font-weight: bold
}
body{
    background-color: rgb(255, 106, 0);
}
.blackbar {
    text-align: center;
    background-color:rgb(255, 106, 0);
    color: white;
    height: 15px;
    font-size: 10px;
}

header {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    background-color:#333;
    border-bottom-left-radius: 50%;
}

.header__top {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}
#logo_pagina{
    height: 3rem;
    margin-left: 3rem;
    cursor:pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.icons {
    display: flex;
    flex-direction: row;
}

.logo__container {
    display: flex;
    justify-content: center;
}

/* SEARCH BAR AREA IN THE FORM */

.search {
    height: 100%;
    /* max-height: 2rem; */
    padding: 1px;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 50%;
    background-color: black;
}

.search:focus-within {
    outline: 1px solid rgb(121, 121, 121);
}

.search input:focus-within {
    outline: none;
}

.search input,
.search button {
    height: 100%;
    border: none;
    background-color: transparent;
}

.search input {
    width: 100%;
    padding-left: 10px;
    font-size: 1rem;
}

/* HAMBURGER MENU AND CATEGORIES AREA */
.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu__icon {
    font-weight: bolder;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    text-align: center;
    top: 100%;
    background-color: rgba(128, 128, 128, 0.91);
    display: none;
}

.dropdown li {
    border-bottom: 3px solid black;
}

.toggle--dropdown {
    display: block ruby;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem 1rem;
    border-radius: 10px;
    right: -1400%;
}


/* MAIN */

/* main {
    min-height: 80vh;
} */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
    min-height: 80vh;
    background-color: #9e9892;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    
}
.renderZone{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 90vw;
}

.imageClick:hover {
    cursor: pointer;
}


.photoContainer {
    display: flex;
    justify-content: center;
    align-items: center; /* Ensure the image is centered vertically */
    width: 100px;
    height: 100px;
    background-color: none;
}

.photoContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: none;
    border-radius: 10px; /* Add this if you want rounded corners on the image */
}
.productWrap{
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
    border: 3px solid rgb(255, 106, 0);
    width: 150px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.productWrap span{
    font-weight: bolder;
    color: black;
}

.title{
    text-align: center;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}

.addCart{
    background-color: rgb(255, 106, 0);
    color:black;
    font-weight: bolder;
    border: 1px solid red;
    border-radius: 20px;
    padding: 3px;
    transition: background-color 0.5s ease;
    transition: size 5s ease;
}

.addCart:hover {
    background-color: rgb(184, 77, 0); 
    transform: scale(1.04); /* ETamaño del boton */
}

.addCart:active {
    background-color: rgb(136, 57, 0); /* Color de fondo más oscuro cuando se hace clic */
    transform: scale(0.95);
}

/* CARRITO */

.btnCarrito{
    background: none;
    border: none;
}

.active {
    display: flex;
}

.inactive {
    display: none;
}

.cart {
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background-color: rgb(255, 106, 0);
    /*display: flex; */
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    overflow: scroll;
    flex-direction: column;
    resize: both;
}

.cartContainer {
    background-color:#ffffff;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
    color: black;
}

.closeCarrito {
    color: black;
}

.total {
    color: black;
}

.delCart {
    color: black;
}

.cart__price {
    color: black;
}

.paybtn {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 106, 0);
    transition: background-color 0.5s ease;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.paybtn:hover {
    background-color: rgb(195, 81, 0);
}

.cart h1 {
    text-align: center;
    color: black;
}

.cart__name {
    text-align: center;
    color: black;
    font-size: 17px;
}

.product__cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    color: black;
}

.checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
}





/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    background-color:#333;
    color: white;
    border-top-right-radius: 50%;
}

footer li {
    color: rgb(255, 255, 255);
}

footer div {
    display: flex;
    width: 70%;
    padding: 1rem 0;
    justify-content: center;
}



@media (min-width: 600px) {

    .header__top {
        flex-direction: row;
        justify-content: space-around;
        gap: 1rem;
    }

    nav {
        width: 80%;
    }

}

@media (min-width: 1000px) {
    #menu__icon {
        display: none;
    }

    .dropdown {
        display: flex;
        position: relative;
        justify-content: space-around;
        gap: 2rem;
        margin-right: 1rem;
        background-color: transparent;
    }

    .dropdown li {
        border: none;
    }

}

button {
    cursor: pointer;
}



/* Loggin */

.btnLoggin{
    background: none;
    border: none;
}

.loggin {
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background-color: rgb(255, 106, 0);
    /*display: flex; */
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    overflow: scroll;
    flex-direction: column;
    resize: both;
}

.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
}

.loggin-container h1 {
    text-align: center;
}

.login-container h2 {
    margin-bottom: 1.5rem;
}

.login-container label {
    display: block;
    margin-top: 1rem;
    color: black;
}

#logintitulo{
    color: black;
}

.login-container input {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: -0.5rem;
    border: 2px solid #ccc;
    border-radius: 20px;
    color: black;
}

.continueLoggin {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 106, 0);
    transition: background-color 0.5s ease;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.continueLoggin:hover {
    background-color: rgb(184, 77, 0);
}


.login-container a:hover {
    text-decoration: underline;
}

.required {
    padding-left: 0rem;
    text-align: left;
    font-size: 0.88rem;
}


/* Publicidad */
.publicidad {
    display: flex;
    justify-content: center;
    padding: 5rem;
    margin: 0.5rem;
    border-radius: 50px;
    background-image: url(bosque.jpg);
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    width: 90%; /* Ajusta el ancho completo del contenedor .slide */
    max-height: 4rem; /* Altura máxima para las imágenes */
}



/* Pagina Articulos */

.articlePageExit{
    background: none;
    border: none;
}

.articlePage {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background-color:rgb(255, 106, 0);
    /*display: flex; */
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    overflow: scroll;
    flex-direction: column;
    resize: both;
    border-radius: 10px;
}

.articlePage-container {
    background-color:#ffffff;

    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
}

.articlePage-container h1 {
    text-align: center;
    color: black;
}

.articlePage-container h2 {
    margin-bottom: 1.5rem;
}

.articlePage-container label {
    display: block;
    margin-top: 1rem;
}

.articlePage-container input {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: -0.5rem;
    border: 2px solid #ccc;
    border-radius: 20px;
}

.descriptionArticleText {
    color: rgb(81, 81, 81);
}

#descripcionTexto, .stockTexto, #empresaText {
    color: black;
    font-weight: bold;
    size: 10px;
    text-align: center;
}



.buyItem {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 106, 0);
    transition: background-color 0.5s ease;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.buyItem:hover {
    background-color: rgb(195, 81, 0);
}

.continueLoggin:hover {
    background-color: rgb(212, 88, 0);
}

.login-container a {
    color: #007BFF;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.login-container .required {
    padding-left: 0rem;
    text-align: left;
    font-size: 0.88rem;
}

.exitArticle {
    background: none;
    border: none;
    color: black;
}

.imgArticlePage {
    left: 43%;
    position: relative;
    max-width: 20vw;
    max-height: 20vh;
    width: auto;
    height: auto;
    border-radius: 10px; /* Si deseas mantener las esquinas redondeadas */
    object-fit: contain; /* Ajusta la imagen para que se ajuste al contenedor sin recortarse */
}



/* Comentarios dentro de Articulo */
.commentSection {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ajustado al 100% del contenedor */
    max-width: 600px; /* Ancho máximo para controlar el tamaño en pantallas grandes */
    margin: 0 auto; /* Centra el bloque de comentarios */
}

.commentSection h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center; /* Centra el título */
}

.commentForm {
    margin-top: 20px; /* Espacio superior entre el título y el formulario */
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.inputComment {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-sizing: border-box;
    resize: none;
    font-family: Arial, sans-serif;
    color: black;
}

.sendbtn {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 106, 0);
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.sendbtn:hover {
    background-color: rgb(184, 77, 0);
}



/* Cambiar servicio */

#serviceSelector {
    height: 1.5rem;
    width: 4rem;
}
/* carrusel */
.concarrusel {
    margin: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background-color: #f4f4f4;
}

.carrusel {
    width: 80%;
    height: 10rem;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.carrusel:hover {
    cursor: pointer;
}

.publi {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}


.closeLogin {
    color: rgb(83, 83, 83);
}

/* Botones deshabilitados */

button:disabled {
    background-color: #ccc; 
    color: #666; 
    cursor: not-allowed; 
    opacity: 0.6; 
}
.addCart:disabled:hover, .addCart:disabled:active {
    transform: none;
}

/* Añadir Productos */

.btnAddProduct{
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 106, 0);
    color: #fff;
    border-color: rgb(253, 84, 0);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btnAddProduct:hover {
    background-color: rgb(184, 77, 0);
}

.addProductADD {
    font-size: 18px;
}

.productAdd {
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background-color: rgb(255, 106, 0);
    /*display: flex; */
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    overflow: scroll;
    flex-direction: column;
    resize: both;
}

.productAdd-container {
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
}

.productAdd-container h1 {
    text-align: center;
}

.productAdd-container h2 {
    margin-bottom: 1.5rem;
}

.productAdd-container label {
    display: block;
    margin-top: 1rem;
    color: black;
}

#addProductTitle{
    color: black;
}

.productAdd input {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: -0.5rem;
    border: 2px solid #ccc;
    border-radius: 20px;
    color: black;
}

.continueAddProduct {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 106, 0);
    transition: background-color 0.5s ease;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.continueAddProduct:hover {
    background-color: rgb(184, 77, 0);
}

#descripcionProducto {
    color: black;
    height: 10rem;
    width: 100%;
    resize: none;
}

#condicionProducto {
    color: black; 
    width: 100%; 
    height: 40px; 
    padding: 5px 10px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    appearance: none; 
    cursor: pointer; 
}

#condicionProducto:focus {
    border-color: black; 
    outline: none; 
    color: black;
}

#condicionProducto option {
    color: black;
}

#categoriaProducto {
    color: black; 
    width: 100%; 
    height: 40px; 
    padding: 5px 10px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    appearance: none; 
    cursor: pointer; 
}


#categoriaProducto:focus {
    border-color: black; 
    outline: none; 
    color: black;
}

#categoriaProducto option {
    color: black;
}

/* Editar productos */

.editArticle{
    background-color: rgb(255, 106, 0);
    color:black;
    font-weight: bolder;
    border: 1px solid red;
    border-radius: 20px;
    padding: 3px;
}

.editArticle:hover {
    background-color: rgb(184, 77, 0); 
    transform: scale(1.04); /* ETamaño del boton */
}

.editArticle:active {
    background-color: rgb(136, 57, 0); /* Color de fondo más oscuro cuando se hace clic */
    transform: scale(0.95);
}


.productEdit {
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background-color: rgb(255, 106, 0);
    /*display: flex; */
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    overflow: scroll;
    flex-direction: column;
    resize: both;
}

.productEdit-container {
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
}

.productEdit-container h1 {
    text-align: center;
}

.productEdit-container h2 {
    margin-bottom: 1.5rem;
}

.productEdit-container label {
    display: block;
    margin-top: 1rem;
    color: black;
}

#editProductTitle{
    color: black;
}

.productEdit input {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: -0.5rem;
    border: 2px solid #ccc;
    border-radius: 20px;
    color: black;
}

.continueEditProduct {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 106, 0);
    transition: background-color 0.5s ease;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.continueEditProduct:hover {
    background-color: rgb(184, 77, 0);
}

#editDescripcionProducto {
    color: black;
    height: 10rem;
    width: 100%;
    resize: none;
}

#editCondicionProducto, #habilitacionProducto {
    color: black; 
    width: 100%; 
    height: 40px; 
    padding: 5px 10px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    appearance: none; 
    cursor: pointer; 
}

#editCondicionProducto:focus, #habilitacionProducto:focus {
    border-color: black; 
    outline: none; 
    color: black;
}

#editCondicionProducto option, #habilitacionProducto option {
    color: black;
}

#editCategoriaProducto {
    color: black; 
    width: 100%; 
    height: 40px; 
    padding: 5px 10px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    appearance: none; 
    cursor: pointer; 
}


#editCategoriaProducto:focus {
    border-color: black; 
    outline: none; 
    color: black;
}

#editCategoriaProducto option {
    color: black;
}

.editarItem {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 106, 0);
    transition: background-color 0.5s ease;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.editarItem:hover {
    background-color: rgb(195, 81, 0);
}