*{

    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}

.LogoWeShop{

    height: 70px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    background:  rgb(72, 72, 72);
    /*background-color: rgb(255, 50, 0); Naranja */
}

.registroUsuario{
    margin-top: 50px;
    width:50%;
    background-color: rgb(255, 50, 0);
    /*background:  rgb(72, 72, 72); Gris*/
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
    padding: 60px;
    margin:auto;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 1px 1px 10px #000;
    /* cambiar el tamaño de las letras de h2 y h3 con font-size*/
    
}

.btnContinuar{
    
    text-align:left;
    white-space: nowrap;
}

.btnContinuar nav a{
    
    padding: 10px 20px;
    background:  rgb(72, 72, 72);
    border: 1px solid rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 450px;
}

.ingresoDeDatos{

    margin-left: 10px;
    display: flex;
    justify-content: center;
    width: 50%;
}

.Copy{
    display:Flex;
    justify-content: space-around;
    color:black;
    width:75%;
    
    
}

/* Actualizacion CSS Gonzalo Garcia */
.required {
    padding-left: 0rem;
    text-align: left;
    font-size: 1rem;
}

.reject {
    color: rgba(255, 255, 255, 0.75);
}

.accept {
    color: rgb(255, 255, 255);

}

.accept::after {
    content: " ✅";
}

/* Estilo para el botón personalizado */
.btn {
    background-color: #ffffff; /* Color de fondo */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interior */
    font-size: 25px; /* Tamaño de fuente */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor en forma de mano */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
    justify-content: center;
}

.btn:hover {
    background-color: #a7a7a7; /* Color de fondo azul oscuro al pasar el ratón */
    transform: scale(1.05); /* Escala el botón ligeramente */
}

.btn:focus {
    outline: none; /* Elimina el borde de enfoque */
}

.btn:active {
    background-color: #8d8d8d; /* Color de fondo más oscuro cuando se hace clic */
}
